.notification-container {
  width: 400px;
  height: 75px;
  display: flex;
  /* border-radius: 5px; */
  background-color: white;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
}

.notification-left {
  width: 20%;
  height: 100%;
  
}

.notification-right {
  color: black;
  font-size: 0.5em;
  width: 80%;
  height: 100%;
}

.notification-image {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

.notification-message {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notification-items {
  display: block; 
  position: absolute; 
  max-height: 300px;
  overflow-y: scroll;
  right: 20px;
  top: 40px;
}

/* width */
.notification-items::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.notification-items::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.notification-items::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(156, 156, 156, 0.5);
}

/* Handle on hover */
.notification-items::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 156, 156, 0.534);
}