.notification-container {
  width: 200px;
  height: 80px;
  display: block;
  border-radius: 5px;
}

.notification-left {
  width: 20%;
  height: 100%;
}

.notification-right {
  width: 80%;
  height: 100%;
}

.notification-image {
  width: 100%;
  height: 100%;
}

.notification-message {
  width: 100%;
  height: 100%;
}