.notification-container {
  width: 400px;
  height: 80px;
  display: flex;
  /* border-radius: 5px; */
  background-color: white;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}

.notification-left {
  width: 20%;
  height: 100%;
}

.notification-right {
  color: black;
  font-size: 0.5em;
  width: 80%;
  height: 100%;
}

.notification-image {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  border-right: 1px solid black;
}

.notification-message {
  width: 100%;
  height: 100%;
}