body {
  font-family: 'Ubuntu', sans-serif;
}

.seller-order-container {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seller-order-id, 
.seller-order-customer-name, 
.seller-order-transaction, 
.seller-order-delivery-date {
  width: 200px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black
}

.seller-order-id {
  width: 250px;
}


.seller-order-dispatch {
  cursor: pointer;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  color: white;
}

.placed {
  background-color: rgb(36, 218, 36);
  box-shadow: 0px 5px 10px 1px grey;
}

.placed:hover {
  height: 55px;
  width: 205px;
}

.dispatch {
  background-color: rgba(129, 131, 129, 0.726);
  color: rgba(255, 255, 255, 0.596);
}


.transit {
  background-color: blue;
}

.delivered {
  background-color: rgb(36, 218, 36);
}



