body {
  font-family: 'Ubuntu', sans-serif;
}

.fruit-cards {
  margin: 10% 5%;
}

.col-custom {
  padding: 0 1%;
}

.fruit-row {
  padding: 6% 0% 6% 5%;
  /* background-image: linear-gradient(to right, #dddddd, #f9f3f3); */
  border-radius: 10px;
  display: flex;
}

.card {
  box-shadow: 2px 2px 2px grey;
  border-radius: 8px;
}

.item-list-container {
  width: 95%;
  display: flex;
}

.item-container {
  width: 250px;
  height: 350px;
  /* background-image: linear-gradient(to right, #fbfbfb, #fafafa); */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Ubuntu', sans-serif;
  padding: 10px;

  margin: 0px 20px;

  box-shadow: 5px 0px 10px 0px rgba(15, 15, 15, 0.7);
}

.carousel-item-container {
  width: 300px;
  height: 400px;
  display: flex;

}

.item-contents {
  width: 95%;
  height: 95%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image {
  width: 100%;
  height: 65%;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image-details {
  background-size: cover !important;
  width: 100%;
  height: 100%; 
  border-radius: 3px;
}

.item-name {
  font-size: 1.5rem;
  color: rgba(15, 15, 15, 0.9);
  font-weight: 600;
}

.divider {
  height: 1.5px;
  width: 100%;
  background-color: rgba(43, 43, 43, 0.9);
  margin: 5px 0px;
}

.item-price {
  font-size: 1rem;
  color: rgba(15, 15, 15, 0.9);
}

.item-delivery {
  font-size: 0.9rem;
  font-weight: 500;
}

.item-details {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}


.pink {
  background-color: rgb(255, 220, 226);
}

.green {
  background-color: #d6ffe3;
}

.brown {
  background-color: #e7cc80;
}

.blue {
  background-color: #a1e5e9;
}

.red-brown {
  background-color: #d4ac7e;
}

.yellow {
  background-color: #ebb267;
}