.order-container {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 0px 10px 1px;
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.order-delivery-status {
  text-transform: capitalize;
}

.order-row-1, .order-row-2, .order-row-3, .order-row-4 {
  height: 50px;
  margin-top: -12px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}


.accept-button, 
.order-delivery-status, 
.order-name, 
.order-seller-name, 
.order-buyer-name,
.order-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-label {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 0 30px;
}


.order-transaction-amount, .order-seller-address, .order-buyer-address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accept-button {
  cursor: pointer;
  width: 100px;
  height: 38px;
  /* border: 1px solid black; */
  white-space: nowrap;
  border-radius: 10px;
  transition: width 0.2s, height 0.5s;
  color: white
}


.delivery-dispatch {
  background-color: rgb(96, 207, 96);
}

.delivery-dispatch:hover {
  height: 40px;
  width: 105px;
}

.delivery-transit {
  background-color: rgb(71, 152, 206);
  width: 130px;
}

.delivery-delivered {
  cursor: auto;
  background-color: rgb(96, 207, 96);
}